<div class="container">
  <div class="row">
    <div class="col">
       <partial name="~/Views/Employees/Partials/_CreateEmployees.cshtml" model=Model></partial>
    </div>
    <div class="col">
       <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" asp-controller="Employees" asp-action="_GetAllEmployees" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Çalışan listesi
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                 <table class="table">
                            <thead>
                               <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Çalışan ismi</th>
                               </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach(var item in ViewBag.list)
                                        {
                                            <tr>
                                                <th scope="row"></th>
                                                <td>@item.Name</td>
                                            </tr>
                                        }
                                  }
                            </tbody>
        </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

