@model List<Visit>


    @{
    if (Model is not null)
    {
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Müşteri</th>
              <th scope="col">Tarih</th>
              <th scope="col">Raporlar</th>
            </tr>
          </thead>
          <tbody>
              <form>
                @{
                      foreach (var item in Model)
                      {
                          <tr>
                          <td scope="row">@item.VisitId</td>
                          <td>@item.Customer.Name</td>
                          <td>@item.Date</td>
                          <td>
                            <div class=mb-3>
                                <button type="submit" class="btn btn-success" asp-controller="Report" asp-action="GetReportListByVisitId" name="visitId" value=@item.VisitId>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                    </svg>
                                </button>
                            </div>
                          </td>
                          </tr>
                      }
                  }
              </form>
          </tbody>
        </table>
    }
}
